<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">Cdquery</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">
        <li><a href="http://blog.jyootai.com/about/" target="_blank">关于</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= data.name %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://blog.jyootai.com" target="_blank">博客</a></li>
            <li><a href="https://github.com/jyootai/cdquery" target="_blank">源码</a></li>
            <li><a href="https://github.com/jyootai/cdquery/issues" target="_blank">Issue</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
