<div class="container-fluid">
  <div class="row">
			<div id="sidebar-left">
				
				<div class="row-search">
													
					<input type="text" class="search form-control" placeholder="当前只是个样式..." />
				
				</div>	
				
				<div class="nav-collapse sidebar-nav" id="sidebar-collapse">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href= '/info'><i class="icon-bar-chart"></i><span class="hidden-tablet"> <%= data.nav[10].text%></span></a></li>	
						<li><a href= '/score'><i class="icon-eye-open"></i><span class="hidden-tablet"> <%= data.nav[17].text%></span></a></li>
						<li><a href='syllabus'><i class="icon-dashboard"></i><span class="hidden-tablet"> <%= data.nav[15].text%></span></a></li>
          </ul>
         </div>
    </div>
  </div>
</div>
