<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <header class="navbar">
       <% include ./partials/header %>
    </header>
    <%- body %>
    <!--<footer>-->
      <!--<% include ./partials/footer %>-->
    <!--</footer>-->
  </body>
</html>

